body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.definition-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
}

.parent-tooltip {
    position: relative;
}

.trigger-tooltip:hover+.tooltip {
    visibility: visible;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: black;
    color: white;
    padding: 7px;
    white-space: nowrap;
    top: -70%;
    border-radius: 3px;
}

.left {
    left: 63%;
}

.right {
    right: 100%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
    margin-left: 10px;
}

.header-title {
    font-size: 20px;
    font-weight: 400;
}

#refresh-button {
    font-size: 17px;
    height: 35px;
    width: 130px;
    text-align: center;
    padding: 5px;
    user-select: none;
    border: none;
    background-color: white;
}

#refresh-button:hover {
    background-color: rgb(226, 224, 224);
    cursor: pointer;
}

#refresh-button:active {
    background-color: lightgrey;
}

.data-wrapper {
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.title-container {
    display: flex;
    height: 5vh;
    border-bottom: 1px solid rgb(226, 224, 224);
}

.title-container span:first-child {
    width: 53%;
    margin: 0 10px 0 10px;
}

.data-container {
    height: 80vh;
    overflow: auto;
}

.row-container {
    display: flex;
    height: 64px;
    border-bottom: 1px solid rgb(226, 224, 224);
    align-items: center;
    overflow: hidden;
}

.row-container:hover {
    background-color: rgb(248, 248, 248);
    cursor: pointer;
}

.row-container:hover .more-container {
    visibility: visible;
}

.round {
    width: 23px;
    height: 23px;
    display: block;
    border-radius: 50%;
}

.success {
    background: rgb(85, 163, 98);
}

.failed {
    background: rgba(205, 74, 69, 1);
}

.none {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(121, 121, 121);
    width: 20px;
    height: 20px;
}

.canceled {
    background: rgb(255, 255, 255);
}

.queued {
    background: rgb(0, 120, 212);
}

.running {
    background: rgb(0, 120, 212);
}

span.running {
    animation: 1.5s linear 0s normal none infinite running running;
    -webkit-animation: 1.5s linear 0s normal none infinite running running;
}

@keyframes running {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes running {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.warning {
    background: rgb(214, 127, 60);
}

.status-container {
    width: 5%;
    margin-left: 10px;
}

.pipeline-container {
    width: 47%;
}

.pipeline-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 15px;
}

.trigger-container {
    width: 22%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 13px;
}

.buildnumber-container>span {
    padding: 4px;
    border-radius: 5px;
}

.buildnumber-container>span:hover {
    background-color: rgb(226, 224, 224);
    cursor: pointer;
}

.trigger-autor {
    font-size: 12px;
    color: rgb(154, 144, 130);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.trigger-info-container {
    display: flex;
    align-items: center;
}

.trigger-source-container {
    display: flex;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    align-items: center;
}

.trigger-source-container::before {
    content: "\e77b ";
}

.lastrun-container {
    width: 16%;
    display: flex;
    flex-direction: column;
}

.lastrun-container>div>span:first-child {
    margin-top: 8px;
    font-size: 13px;
}

.more-wrapper {
    width: 4%;
    display: flex;
    justify-content: center;
}

.more-container {
    visibility: hidden;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 19px solid rgb(226, 224, 224);
    border-bottom: 10px solid transparent;
}

.more-container:hover {
    border-left: 19px solid rgb(0, 120, 212);
}